html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0px;

	font-family: sans-serif;
	h1 {
		color: white;
		text-decoration: underline;
		margin: 0px;
		@media all and (max-width: 480px) {
				 font-size: 18px;
		}
	}
	.controlPanel {
		@media all and (min-width: 1024px) and (max-width: 1280px) {
				float:right;
				display: inline-block;
				margin-right: 30px;
		}
		@media all and (max-width: 480px) {
				 float:left;
				 text-align: center;
		}
	}
	.button {
		border: 2px solid gray;
		background-color: silver;
		padding: 5px;
		margin-left: 5px;
	}

	.rounds {
		color: black;
		font-size: 48px;
		font-weight: bold;
		float: left;
		cursor: pointer;
	}
	.rounds:hover{
		border: 2px solid red;
	}
	.select {
		background-color: silver;
		color: black;
		padding: 5px;
	}
	.containerGrid {
		border: 1px solid black;
	}
	.message {
		border-bottom: 1px solid black;
		margin-bottom: 2px;
		padding: 3px;
		width: 100%;
	}
	.messages {
		@media all and (min-width: 1024px) and (max-width: 1280px) {
				float: left;
				display: inline-block;
				height:100%;
				width:250px;
				margin: 5px;
		}
		@media all and (max-width: 480px) {
				 height: 50px;
				 width:100%;
		}

		overflow: scroll;

	}
	.header {
		background-color: black;
		color: white;
		height: 100px;
		margin: 0px;
		border-bottom: 3px solid black;
	}
	.footer {
		clear:both;
		height:40px;
		background-color: white;
		text-align: center;
	}
	.handCell {
		float: left;
		margin: 10px;
		display: inline-block;
		@media all and (min-width: 1024px) and (max-width: 1280px) {
				float:left;

				margin-right: 30px;
				width: 300px;
				height: 300px;
		}
		@media all and (max-width: 480px) {
				width:100%;
		 		height: 200px;
		}

	}
	.controls {
		float: left;
		width:50px;
		height:100%;
		border: 1px solid black;
		padding: 3px;
		margin:1px;
	}
	.pieceImg{
		@media all and (min-width: 1024px) and (max-width: 1280px) {
			width:200px;
		}
		@media all and (max-width: 480px) {
			width: 150px;
		}
	}
	.ctrlImg {
		width:50px;
	}
	.ctrlImgCpu {
		width:50px;
	}
	.ctrlImg:hover {
		border: 2px solid red;
	}
	.handContainer {
		border: 2px solid gray;
	}
}
