<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
		// Same game, different gravy
		var MEME_EDITION = {
			'rock': 'https://media.giphy.com/media/HbkT5F5CiRD3O/giphy.gif',
			'paper': 'https://media.giphy.com/media/8p8E1sylIARDW/giphy.gif',
			'scissors': 'https://s-media-cache-ak0.pinimg.com/originals/12/03/6e/12036e3aacd59680b4bbdbbcc72486d7.gif'
		};
		// some meta data for the rendering
		var RENDER_SPEC = {
			player1: 'player1',
			player1ctrl: 'player1Ctrl',
			player2: 'player2',
			player2ctrl: 'player2Ctrl',
			messages: 'messages',
			rounds: 'roundIndicator'
		};
		var LIZARD_SPOCK_ASSETS = {
			'rock': 'http://www.dododex.com/media/item/Stone.png', // ROCK
			'paper': 'http://eliteownage.com/paper.jpg', // PAPER
			'scissors': 'http://findicons.com/files/icons/196/office_tools/128/scissors.png', // SCISSORS
			'lizard': 'http://weknowyourdreams.com/images/lizard/lizard-07.jpg',
			'spock': 'http://ichef-1.bbci.co.uk/news/660/media/images/81300000/jpg/_81300586_81300585.jpg'
		}
		var LIZARD_SPOCK_RULES = {
			'rock': {wins: ['scissors', 'lizard']},
			'paper': {wins: ['rock', 'spock']},
			'scissors': {wins: ['paper', 'lizard']},
			'lizard': {wins: ['paper', 'spock']},
			'spock': {wins: ['rock', 'scissors']}
		}
		function startGame(edition, rules=null) {
			const players = [
				document.getElementById('selectPlayer1').value,
				document.getElementById('selectPlayer2').value
			]
			window.rps = new window.RockPaperScissors(players, RENDER_SPEC, edition, rules)
		}
	</script>
</head>
<body>
	<div class="header">
		<h1>Rock! Paper! Scissors! Whatever!</h1>
		<div class="controlPanel">

			<select id="selectPlayer1" class="select">
				<option value="H">Hooman</option>
				<option value="C" selected>Kompootar</option>
			</select>
			VS
			<select id="selectPlayer2" class="select">
				<option value="H">Hooman</option>
				<option value="C" selected>Kompootar</option>
			</select>
			<button class="button" onClick="startGame();">Boring Edition</button>
			<button class="button" onClick="startGame(MEME_EDITION);">Meme Edition</button>
			<button class="button" onClick="startGame(LIZARD_SPOCK_ASSETS, LIZARD_SPOCK_RULES);">Lizard Spock</button>
		</div>
	</div>
	<div class="messages" id="messages">
		<div class="message">Go on son, start a match!</div>
	</div>
	<div class="containerGrid">
			<div class="handCell">
				<div class="controls" id="player1Ctrl"></div>
				<div id="player1" class="piece"></div>
			</div>
			<div id="roundIndicator" class="rounds">
			</div>
			<div class="handCell">
				<div class="controls" id="player2Ctrl"></div>
				<div id="player2" class="piece"></div>
			</div>

	</div>
	<div class="footer">Rock! Paper! Scissors! Whatever! was made for fun and potential profit by Harel Malka <a href="mailto:harel@harelmalka.com">harel@harelmalka.com</a></div>
</body>
</html>
