<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="header">
		<h1>RPS!</h1>
		
	</div>
	<div class="messages" id="messages">
		<div class="message">Ready</div>
	</div>
	<div class="containerGrid">
			<div class="handCell">
				<div class="controls" id="player1Ctrl"></div>
				<div id="player1">HAND</div>
			</div>
			<div class="handCell">
				<div class="controls" id="player2Ctrl"></div>
				<div id="player2">HAND</div>
			</div>
	</div>
	<div class="footer">Footer info</div>
</body>
</html>
